<div class="body-blur">
  <div class="row">
    <h1>Announce Event</h1>
  </div>

  <form [formGroup]="eventForm" (ngSubmit)="addEvent(eventForm.value)">

    <div class="row">
      <div class="columns small-12 medium-6">
        <label>Title of Announcement
          <input type="text" name="title" [formControl]="eventForm.controls['title']">
        </label>
      </div>
      <div class="columns small-12 medium-6">
        <label>URL
          <input type="text" name="url" [formControl]="postForm.controls['url']">
        </label>
      </div>
      <div class="columns small-12 medium-6">
        <label>Date
          <input type="date" name="date" [formControl]="eventForm.controls['date']">
        </label>
      </div>
    </div>

      <div class="row columns">
        <label>Description
          <textarea name="description" id="description" [formControl]="eventForm.controls['description']"></textarea>
        </label>
        <input type="submit" class="cta-btn filled" value="Event Announcement" [disabled]="!eventForm.valid">
      </div>
  </form>
</div>
